
.register__section {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

  }

 

  .register__container {

    width: 100%;

    max-width: 430px;

    margin-top: 120px;

  }

 

  .register__right {

    padding: 30px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    background-color: #fdfdfd;

  }

 

  .register__right form {

    display: flex;

    flex-direction: column;

    gap: 10px;

  }

 

  .register__right h3 {

    text-align: center;

  }

 

  .register__right button {

    background-color: #4caf50;

    color: white;

    padding: 12px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

  }

 

  .register__right button:hover {

    background-color: #45a049;

  }

 

  .register__right .error {

    color: red;

    margin-top: 10px;

  }

 

  .register__right small {

    text-align: center;

  }

 




 