*,*::after,*::before {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}



:root {
    --bg-color:#EBECF0;
    --container-color:#011E11;
    --secondary-color: #12FF46;
    --width-large:80%;
    --width-small:90%;
    --transition: all 500ms ease;
}


body{
    background-color: #011E11;
    line-height: 1.7;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif;

}

.container{
    max-width: 1920px;
    margin-inline: auto;
    width: var(--width-large);
}

img {
    
    display: block;
    object-fit: cover;
    width: 100%;      
}
small {
    color: var(--secondary-color);
    
}

small a {
    color: aquamarine;
   
}
.success{
    color: var(--secondary-color);
}
.error  {
    color: red;
}

@media screen and(max-width:1024px){
    .container {
        max-width: var(--width-large);
    }
}

@media screen and(max-width:600px) {
    .container {
        max-width: var(--width-small);
    }
}   
