/* AddSession.css */

.add-session-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .add-session-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: green;
  }
  
  .add-session-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .add-session-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .add-session-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .add-session-form button:hover {
    background-color: #45a049;
  }
  