/* styles.css */

.calorie-burned-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .calorie-burned-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .calorie-burned-form label {
    font-weight: bold;
  }
  
  .calorie-burned-form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .calorie-burned-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .calorie-burned-result {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .calorie-burned-info {
    max-width: 600px;
  }
  
  .calorie-burned-info p {
    line-height: 1.6;
  }
  