/* Session.css */

.session-container {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    color: black;
    margin: 15px;
  }
  
  .session-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: green;
  }
  
  .session-list {
    list-style: none;
    padding: 0;
  }
  
  .session-list li {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  
  .session-list li:last-child {
    margin-bottom: 0;
  }
  
  .session-list li span {
    font-weight: bold;
  }
  