
.container.login__container {

    display: flex;

    justify-content: center;
    flex-direction: column;

    align-items: center;

    height: 100vh;

  }

 

  .login {

    width: 400px;

    padding: 30px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    background-color: #fdfdfd;

  }

 

  .login form {

    display: flex;

    flex-direction: column;

    gap: 10px;

  }

 

  .login h3 {

    text-align: center;

  }

 

  .login button {

    background-color: #4caf50;

    color: white;

    padding: 12px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

  }

 

  .login button:hover {

    background-color: --secondary-color;

  }

 

  .login .error {

    color: red;

    margin-top: 10px;

  }

 

  .login small {

    text-align: center;

  }