

.form__input{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


label{
    font-size: 12px;
    color: gray;
}

span {
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}
input:invalid[focused="true"]~span{
    display: block;
}