
h1 {
  font-size: 66px;
}
.contact__button{
  font-size: 26px;
  color: var(--secondary-color);
  border: 1px solid var(--container-color);
  border-radius: 12px;
  
}

a {
  text-decoration: none;
}

/* .App {
    text-align: center;
  }

  .header-green {
    background-color: var(--container-color);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh; /* Modification de la hauteur minimale pour occuper tout l'écran 
    
  }
   */
  /* .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-left: 170px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  } */
  
 
 
  /* .content-container {
    position: relative;
    margin-top: 150px;
    padding-bottom: 100px;
  } */
  
  /* .left-section {
    text-align: left;
    margin-top: 290px;
    margin-left: 200px;
  }
  
  .right-section {
    text-align: right;
    position: fixed;
    top: 100px;
  }
  
  .monImage{
    width: 650px;
    margin-left: 760px;
    margin-top: 90px;
  }
   */
  
  /* h1 {
    margin: 0;
    font-size: 64px;
    margin-bottom: 10px;
    color: #ffff;
  }
   */
  /* .contact-button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;
    width: 40%;
    height: 40px;
    font-weight: bold;
  } */
  
  
/*   
  
  .formulaire{
    text-align: left;
  } */
  