
.main__body{
    width: 100vw;
    margin-top: 3rem;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
.main__body-container{
   
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;
        color: white;
    
}