.imc-records {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    color: black;
    margin: 15px;
  }
  
  .imc-records table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .imc-records th,
  .imc-records td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .imc-records th {
    font-weight: bold;
  }
  