

 

  .edit__container {

    width: 100%;

    max-width: 430px;

    margin-top: 120px;

  }

 

  .edit__container {

    padding: 30px;

    border: 1px solid #ccc;

    border-radius: 4px;

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

    background-color: #fdfdfd;

  }

 

  .edit__container form {

    display: flex;

    flex-direction: column;

    gap: 10px;

  }

 

  .edit__container h3 {

    text-align: center;

  }

 

  .edit__container button {

    background-color: #4caf50;

    color: white;

    padding: 12px;

    border: none;

    border-radius: 4px;

    cursor: pointer;

  }

 

  .edit__container button:hover {

    background-color: #45a049;

  }

 

  .edit__container .error {

    color: red;

    margin-top: 10px;

  }

 

  .edit__container small {

    text-align: center;

  }

 




 