/* profile.css */

.user__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .part__user {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-bottom: 20px;
  }
  
  .part__user img {
    width: 400px;
    height: 400px;
    border-radius: 40%;
    object-fit: cover;
  }
  
  .part__user1 {
    flex: 1;
    text-align: center;
    
  }
  
  .part__user2 {
    margin-top: 20px;
    flex: 2;
  }
  
  .user__imc {
    padding: 20px;
  }
  
  .user__imc h2 {
    margin-bottom: 15px;
  }
  
  .user__imc .elements {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap to the next line if necessary */
    margin-bottom: 15px;
  }
  
  .user__imc .elements a {
    margin-right: 20px;
    margin-bottom: 10px;
    color: #2bb41f;
    text-decoration: underline;
    margin-top: 20px;
  }
  
  .user__imc label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .user__imc input {
    width: 83%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .user__imc button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .user__imc button:hover {
    background-color: #45a049;
  }
  