.contact_options {

    display: flex;
  
    flex-wrap: wrap;
  
    justify-content: center;
  
    gap: 30px;
  
    margin-bottom: 30px;
  
    width: 100%;
  
  }
  
  .contact__option1,
  
  .contact__option2,
  
  .contact__option3,
  
  .contact__option4 {
  
    flex: 1 1 25%;
  
    flex-direction: column;
  
    align-items: center;
  
    text-align: center;
  
    margin-left: 50px;
  
  }
  
  
  .contact__option-icon1,
  
  .contact__option-icon2,
  
  .contact__option-icon3,
  
  .contact__option-icon4 {
  
    font-size: 40px;
  
    margin-bottom: 10px;
  
  }
  
  h5 {
  
    margin-top: 0;
  
  }
  

  form {
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    width: 100%;
  
    max-width: 800px;
  
    margin-bottom: 30px;
  
  }
  
  
  .form-group {
  
    width: 100%;
  
    margin-bottom: 20px;
  
  }
  
  
  
  
  label {
  
    display: block;
  
    font-weight: bold;
  
    margin-bottom: 5px;
  
  }
  
  
  
  
  input,
  
  textarea {
  
    width: 100%;
  
    padding: 10px;
  
    margin-bottom: 10px;
  
    border: 1px solid #ccc;
  
    border-radius: 5px;
  
  }
  
  
  
  
  button {
  
    padding: 10px 20px;
  
    background-color: var(--secondary-color);
  
    color: #fff;
  
    border: none;
  
    border-radius: 5px;
  
    cursor: pointer;
  
  }
  
  
  button:hover {
  
    background-color: #4caf50;
  
  }
  
  
  .contact__option1:hover,
  
  .contact__option2:hover,
  
  .contact__option3:hover,
  
  .contact__option4:hover,
  
  .contact__option1:active,
  
  .contact__option2:active,
  
  .contact__option3:active,
  
  .contact__option4:active {
  
    background-color: #4caf50;
  
    box-shadow: #4caf50;
  
  }
  

  @media (max-width: 768px) {
  
    .contact_options {
  
      flex-direction: column;
  
      align-items: center;
  
    }
  
  }