nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    }
    
    .nav__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    
    .logo__max{
        width: 7rem;
        display: block;
    }

    a {
        color: white;
    }
    .btn {

   

        color: white;
    
        padding: 12px;
    
        border: none;
    
        border-radius: 4px;
    
        cursor: pointer;
    
        transition: background-color 0.3s, box-shadow 0.3s;
    
      }
    
     
    
    .btn:hover {
    
        background-color: #45a049;
    
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    
      }